# Introduction to Statements, Expressions, and Indentation

# Statements
A statement is a complete line of code that performs a specific action. Examples include assignment statements, loop statements, conditional statements, and function calls.

## Assignment Statements: Assign a value to a variable.

In [1]:
# Example 1: Assigning a string to a variable

In [2]:
#Example 2: Assigning a value to a variable

## Print Statements: Output information to the console.

In [3]:
# Example 1: Printing a String

## Conditional Statements: Control the flow of execution based on conditions

In [4]:
# example 1

In [5]:
x>7

NameError: name 'x' is not defined

In [ ]:
# Example 2 : Checking if a person's age is eligible for voting

## Loop Statements: Execute a block of code repeatedly.

In [6]:
# Example 1: Using a for loop to iterate over a sequence of numbers

In [7]:
# Example 2 : print numbers from 1 to 5

## Expressions

An expression is a combination of values, variables, and operators that can be evaluated to produce a result. Expressions can be part of statements.

In [8]:
# Assigning the value 5 to the variable x

In [9]:
# Assigning the result of the expression x + 3 to the variable y
# x + 3 is an expression

## Indentation

Indentation refers to the spaces or tabs at the beginning of a line of code. 
In Python, indentation is not just for readability it is a syntactical element that defines the structure of your code.
Indentation is used to group statements into blocks

## Rules for Indentation

- Use consistent indentation throughout your code.
- The standard convention is to use four spaces for each level of indentation.
- Indentation is used to indicate the beginning and end of code blocks, such as those in loops and conditional statements.

In [10]:
#example

In [11]:
# Example: Using indentation in a for loop

## Identifiers, Keywords & Comments

## Identifiers

Identifiers are names given to entities in a Python program. These entities can be variables, functions, classes, modules, or any other user-defined objects.
Identifiers are crucial for making your code readable and understandable.

## Rules for Identifiers

- Must begin with a letter (a-z, A-Z) or an underscore (_).
- The remaining characters can be letters, numbers, or underscores.
- Case-sensitive (e.g., variable and Variable are different).

In [12]:
# Example 1: Using identifiers for variable names

# Assigning a value to the variable 'x'
  # Here, 'x' is an identifier representing the variable name

# Printing the value of 'x'

In [13]:
# Example 2: Using identifiers for variable names

# Assigning a value to the variable 'y'
  # Here, 'y' is an identifier representing the variable name

# Printing the value of 'y'

## Keywords

Keywords are reserved words in Python that have special meanings and cannot be used as identifiers.
They are part of the Python language syntax and serve specific purposes in the code.

## Examples of Keywords:

## if, else, while, for, in, def, class, True, False, None, and, or, not, import, from, as, try, except, etc.

In [14]:
# Python code to check Keywords
import keyword 

# Print the list of keywords
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Comments

Comments are annotations in the code that are ignored by the Python interpreter. They are meant for human readers to add explanations, notes, or any information that can help understand the code.

- Single-line Comments: Begin with # and extend to the end of the line.
- #This is a single-line comment
- Multi-line Comments: Enclosed between triple-quotes (''' or """) and can span multiple lines.
- '''This is a multi-line comment'''

Example

In [16]:
# This is a comment explaining the purpose of the following code
 # This is an inline comment about the variable

# Variables in Python

Variables in Python are used to store data values

### Variable Declaration:
### name = "John“
### age = 30
### Here, ‘name’ & ‘age’ are variables which stores the values – “John” & 30

### Rules of variables

- They can contain letters, digits, and underscores.
- They must start with a letter or an underscore (but not a digit).
- Variable names are case-sensitive.
- Avoid using Python keywords (reserved words) as variable names.

In [18]:
# Assigning a numerical value (10) to the variable 'number'

# Printing the value of the variable

In [19]:
# Assigning a string value ("Hello, World!") to the variable 'message'

 # Printing the value of the variable

### Multiple assignments in Python allow you to assign values to multiple variables in a single line.

### x, y, z = 10, 20, 30
### This assigns 10 to x, 20 to y, and 30 to z

In [21]:
# Multiple assignments


# Print the values of x, y, and z

### Variable reuse in Python allows you to assign a new value to an existing variable, effectively overwriting its previous value.

### x = 5
### x = "Hello“
### In this example, x initially holds an integer but is later assigned a string.

In [22]:
# Variable reuse


# Reassigning a new value to the variable 'x'

# Fundamental Data Types

### Integer (int)

An integer is a numerical data type that represents whole numbers. It does not include fractions or decimal points.

In [23]:
# To check the data type of a 

# To check the id of a

In [24]:
# Assigning a positive integer value (42) to the variable 'positive_integer'


# Assigning a negative integer value (-10) to the variable 'negative_integer'


# Assigning zero (0) to the variable 'zero'


# Printing the values of the variables

### Integer Caches: Python caches a range of small integers (typically from -5 to 256)​

In [25]:

# gives True

# id of both a & b is same

In [26]:



# gives False


# id of both x & y may or may not be the same

### (Float)
### Floats are used to represent real numbers.

### Floats in Python are implemented as IEEE 754 double-precision floating-point numbers, which provide approximately 15-17 significant digits of precision

In [27]:

# Printing the data type of 'a'

# Output: <class 'float'> (indicating that 'a' is a float)

# Printing the memory address (ID) of 'a'

# Output: Memory address of the float object '1.5'

In [28]:
# Assigning a floating-point value to the variable 'pi'
pi = 3.14159

# Printing the value of 'pi'
print("Value of pi:", pi)

Value of pi: 3.14159

### Complex

- Complex numbers in Python are written as a+bj, where a is the real part, and b is the imaginary part
- Used in AC (circuit analysis), signal processing, and quantum mechanics.

In [29]:
# Where 3 is the real part, and 4 is the imaginary part.

# Printing the data type of 'z'
# Output: <class 'complex'> (indicating that 'z' is a complex number)

# To check the id of 'z' (commented out)
# print(id(z))

In [30]:
# Where 10 is the real part, and 12 is the imaginary part.

# Printing the data type of 'z'

# Output: <class 'complex'> (indicating that 'z' is a complex number)

# To check the id of 'z' (commented out)
# print(id(a))

### Boolean (bool)

- A boolean is a data type that represents one of two possible values: True or False
- Booleans are primarily used for logical operations and conditions.
- Used extensively in conditional statements, loops, and logical operations

In [31]:
# Using the bool() constructor to convert the integer value 20 to a boolean value


# Printing the boolean value 'a' and its data type

In [32]:
# Using the bool() constructor to convert the integer value 0 to a boolean value


# Printing the boolean value 'b' and its data type

### NoneType (None)

- NoneType is a special data type in Python that has only one value: None. 
- It is used to represent the absence of a value or a null value. 
- When a variable or a function returns None, it typically signifies that there is no valid data or no meaningful result.

### In this example, the variable result is assigned the value None, indicating that it has not been assigned a meaningful value or result yet
### result = None

# Strings in Python

- In Python, a string is a sequence of characters, and it is one of the fundamental data types in the language. 
- Strings are used to represent text and are treated as immutable sequences of Unicode code points.

### Strings can be declared using either single quotes (‘ ’) or double quotes (“ ”).

In [33]:
single_quoted = 'Hello, World!'
double_quoted = "Python is great!"
triple_quoted = '''This is a 
                   multi-line string.'''

print("Single quoted:", single_quoted)
print("Double quoted:", double_quoted)
print("Triple quoted:", triple_quoted)

Single quoted: Hello, World!
Double quoted: Python is great!
Triple quoted: This is a
                   multi-line string.

### String Concatenation: You can concatenate (combine) strings using the + operator.

### String Length: You can find the length of a string using the len() function

### String Indexing

### Strings are zero-indexed, meaning the first character has an index of 0, the second character has an index of 1, and so on.

In [34]:


# Accessing the characters of the string using their indices
# Accessing the first character
# Accessing the second character
# Accessing the third character

# Printing the characters along with their indices

### String Slicing

- Slicing allows you to extract a portion (substring) of a string by specifying a range of indices.
- The syntax for slicing is string[start:end:steps], where start is the index of the first character you want to include, and end is the index of the first character you want to exclude.

In [35]:
# Define the string variable 'text'

# Slice the string from index 1 to 4 (exclusive) and assign it to 'sliced_text'
# "yth" (from index 1 to 3)

# Print the sliced text along with a comment

In [36]:
# Define the string variable 'text'


# Slice the string using negative indices and assign it to 'sliced_text'

# "th" (from the third-to-last to the second-to-last character)

# Print the sliced text along with a comment

# String Methods

- Conversion Methods - str(): Converts an object into a string representation
- int(), float(), complex(): Converts a string to an integer, float, or complex number.¶

In [37]:
# Define an integer variable 'number'


# Convert the integer 'number' to a string and assign it to 'str_number'


# Print the converted string along with a comment

### Case Conversion Methods

- upper(): Converts all characters in a string to uppercase.
- lower(): Converts all characters in a string to lowercase.
- capitalize(): Capitalizes the first character of a string.
- title(): Converts the first character of each word to uppercase.

In [38]:
# Define the string variable 'text'


# Convert the string to uppercase and assign it to 'upper_text'


# Convert the string to lowercase and assign it to 'lower_text'


# Print the converted strings along with comments

### Stripping Methods

- strip(): Removes leading and trailing whitespace from a string.
- lstrip(): Removes leading whitespace.
- rstrip(): Removes trailing whitespace.

In [39]:
# Define the string variable 'my_string'


# Strip leading and trailing whitespace characters from the string and assign it to 'stripped_string'


# Print the stripped string along with a comment

### Search and Replace Methods

- find(): Returns the lowest index of a substring (or -1 if not found).
- index(): Similar to find() but raises an exception if the substring is not found.
- replace(): Replaces occurrences of a substring with another string.

In [40]:
# Define the string variable 'sentence'


# Find the index of the first occurrence of "is" in the string and assign it to 'index'


# Replace all occurrences of "Python" with "JavaScript" in the string and assign it to 'replaced_sentence'


# Print the replaced sentence along with a comment

### Counting Methods

### count(): Returns the number of occurrences of a substring in a string.

In [41]:
# Define the string variable 'sentence'


# Count the occurrences of the substring "is" in the string and assign it to 'count_is'


# Print the count along with a comment

### Checking Methods

- startswith(): Checks if a string starts with a specified prefix.
- endswith(): Checks if a string ends with a specified suffix.
- isalpha(): Checks if all characters in a string are alphabetic.
- isdigit(): Checks if all characters in a string are digits.
- isalnum(): Checks if all characters in a string are alphanumeric.

In [42]:
# Define the string variable 'text'


# Check if the string starts with the prefix "Hello" and assign the result to 'starts_with_hello'


# Print the result along with a comment

### Splitting and Joining Methods

- split(): Splits a string into a list of substrings based on a specified delimiter.
- join(): Concatenates a list of strings into one string using a specified delimiter.

In [43]:
# Define the string variable 'sentence'


# Split the string into words and assign the result to 'words'
# Defaults to splitting on whitespace

# Join the words back into a single string with space as separator and assign it to 'joined_sentence'


# Print the joined sentence along with a comment

### Formatting Methods

- format(): Formats a string by replacing placeholders with values.
- format_map(): Similar to format() but takes a mapping (a dictionary) as its argument.

In [44]:
# Define variables 'name' and 'age'


# Format the string using placeholders {} and the format() method, and assign it to 'formatted_string'


# Print the formatted string along with a comment

# Type Casting & Conversion

### bool(): Converts an object to a Boolean value.

In [45]:
# Define the variable 'value'


# Convert the value to a boolean and assign it to 'bool_value'


# Print the boolean value along with a comment

### list(): Converts an iterable (e.g., tuple, string, or set) to a list.

In [46]:
# Define the tuple 'my_tuple'


# Convert the tuple to a list and assign it to 'my_list'


# Print the converted list along with a comment

###  tuple(): Converts an iterable to a tuple.

In [47]:
# Define the list 'my_list'


# Convert the list to a tuple and assign it to 'my_tuple'


# Print the converted tuple along with a comment

###   set(): Converts an iterable to a set.

In [48]:
# Define the list 'my_list'


# Convert the list to a set and assign it to 'my_set'


# Print the converted set along with a comment

### int(): Converts a number or a string containing a whole number to an integer.

In [49]:
# Define the string 'num_str'


# Convert the string to a float and assign it to 'num_float'


# Print the converted float along with a comment

### float(): Converts a number or a string containing a number to a floating-point number

In [50]:
# Define the string 'num_str'


# Convert the string to a float and assign it to 'num_float'


# Print the converted float along with a comment

###  str(): Converts an object to a string.

In [51]:
# Define the integer 'num_int'


# Convert the integer to a string and assign it to 'num_str'


# Print the converted string along with a comment

### dict(): Converts a sequence of key-value pairs as tuples into a dictionary.

In [52]:
# Define the list of tuples 'my_list'


# Convert the list of tuples to a dictionary and assign it to 'my_dict'


# Print the converted dictionary along with a comment

### ord() and chr(): Convert a character to its Unicode code point and vice versa.

In [53]:
# Define the character 'char'


# Get the Unicode code point of the character and assign it to 'unicode_value'


# Get the character from its Unicode code point and assign it to 'char_again'


# Print the Unicode code point of the character along with a comment


# Print the character obtained from its Unicode code point along with a comment